{% extends 'base.html.twig' %}

{% block title %}Poliza{% endblock %}

{% block body %}
    <h1>Poliza</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ poliza.id }}</td>
            </tr>
            <tr>
                <th>Auto</th>
                <td>{{ poliza.auto }}</td>
            </tr>
            <tr>
                <th>Costo</th>
                <td>{{ poliza.costo }}</td>
            </tr>
            <tr>
                <th>FechaVigencia</th>
                <td>{{ poliza.fechaVigencia ? poliza.fechaVigencia|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_poliza_index') }}">back to list</a>

    <a href="{{ path('app_poliza_edit', {'id': poliza.id}) }}">edit</a>

    {{ include('poliza/_delete_form.html.twig') }}
{% endblock %}
